<link rel="stylesheet" type="text/css" href="/css/edit.css">

{{> navigation}}

<div class="container">

    <div class="r-title">                
        <div class="rtitle">Reservación</div>
    </div>

    <form action="" method="POST">
            <div class="habitacion-container">
        
            <div class="info-container">
                <div class="reserv-container">
                    <div class="room-title">Reservar Habitación</div>
                    <div class="room-img">
                        <img src="{{datos.url_img1}}" alt="">
                        <img src="{{datos.url_img1}}" alt="">
                    </div>
                    <div class="form-container-2">
                        <div class="fe-cont">
                            <label class="date">Fecha Entrada:</label>
                            <input type="date" min="2021-11-05" class="date" name="fecha_entrada" required value="{{datos.fecha_entrada}}">
                        </div>
                        <div class="fs-cont">
                            <label class="date">Fecha de Salida:</label>
                            <input type="date" min="2021-11-05" class="date" name="fecha_salida" required value="{{datos.fecha_salida}}">
                        </div>
                        <input type="text" name="id_Habitacion" class="datos" value="{{datos.id}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="vehicle-container">
            <div class="reserv-container">
                <div class="vehicle-title">Rentar Vehiculo (Opcional)</div>
                <div class="vehicle-info">
                    <div class="info">
                        <label for="tipo_vehiculo">Escoger Vehiculo</label>
                        <select name="tipo_vehiculo" value="{{datos.id_Vehiculo}}">
                            <option value="0"></option> 
                            <option value="1">BMW</option> 
                            <option value="2">KIA PICANTO</option>
                            <option value="3">TOYOTA</option> 
                            <option value="4">AUDI</option>
                        </select>
                    </div>
                    <div class="info">
                        <label for="">Fecha de Entrega</label>
                        <input type="date" name="fecha_entrega" class="" value="{{datos.fecha_entrega}}">
                        <label for="">Fecha de Devolución</label>
                        <input type="date" name="fecha_devolucion" class="" value="{{datos.fecha_devolucion}}">
                    </div>
                    <div class="info">
                        <label for="">Dias de Renta</label>
                        <input type="number" name="dias_v" value="{{datos.dias_v}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="desayuno-container">
            <div class="reserv-container">
                <div class="desayuno-title">Reservar Desayuno (Opcional)</div>
                <div class="desayuno-info">
                    <div class="info">
                        <label for="">Escoger Desayuno</label>
                        <select name="id_Desayuno" value="{{datos.id_Desayuno}}">
                            <option value="0"></option>
                            <option value="1">Panqueques</option> 
                            <option value="2">Omelet</option> 
                            <option value="3">Huevos</option>
                        </select>
                    </div>
                    <div class="info">
                        <label for="">Cantidad</label>
                        <input type="number" class="" name="cantidad_Desayuno" value="{{datos.cantidad_desayuno}}">
                    </div>
                    <div class="info">
                        <label for="">Fecha</label>
                        <input type="date" name="fecha_Desayuno">
                    </div>
                    <div class="info">
                        <label for="">Hora</label>
                        <input type="time" name="hora_Desayuno" value="{{datos.hora_Desayuno}}">
                    </div>
                </div>
            </div>
        </div>


        <div class="service-container">
            <div class="reserv-container">
                <div class="service-title">Reservar Servicio (Opcional)</div>
                <div class="service-info">
                    <div class="info">
                        <label for="">Escoger Servicio</label>
                        <select name="id_Servicio">
                            <option value="0"></option> 
                            <option value="1">Lavado de Ropa</option> 
                            <option value="2">Planchado de Ropa</option>
                        </select>
                    </div>
                    <div class="info">
                        <label for="">Fecha</label>
                        <input type="date" name="fecha_servicio" value="{{datos.fecha_servicio}}">
                        <label for="">Hora</label>
                        <input type="time" name="hora_servicio" value="{{datos.hora_servicio}}">
                    </div>
                </div>
            </div>
        </div>


        <div class="traslado-container">
            <div class="reserv-container">
                <div class="traslado-title">Reservar Traslado (Opcional)</div>
                <div class="traslado-info">
                    <div class="info">
                        <label for="">Traslado: </label>
                        <select name="id_traslado">
                            <option value="0"></option> 
                            <option value="1">Aeropuerto a Hotel</option> 
                            <option value="2">Hotel a Aeropuerto</option>
                        </select>
                    </div>
                    <div class="info">
                        <label for="">Fecha: </label>
                        <input type="date" name="fecha_traslado" value="{{datos.fecha_traslado}}">
                    </div>
                    <div class="info">
                        <label for="">Hora: </label>
                        <input type="time" name="hora_traslado" value="{{datos.hora_traslado}}">
                    </div>
                    <div class="info">
                        <label for="">Cantidad de Personas: </label>
                        <input type="number" name="cantidad_personas" value="{{datos.cantidad_personas}}">
                    </div>
                </div>
            </div>
        </div>

        <div class="button-cont">
            <button class="confirm-button">
                Confirmar
            </button>
        </div>

    </form>            
</div>

{{> footer}}