<link rel="stylesheet" type="text/css" href="/css/room.css">

{{> navigation}}

<div class="container">
    <div class="room-container">
        <div class="room-title">Habitación {{habs.tipo_habitacion}}</div>
        <div class="room-img">
            <img src="{{habs.url_img1}}" alt="">
            <img src="{{habs.url_img2}}" alt="">
        </div>
        <div class="room-description">
            <div class="room-desc">
                <h2>Habitación {{habs.tipo_habitacion}}</h2>
                <h3>Q{{habs.precio_normal}} por día!</h3>
            </div>
            <form action="/habitacion/reservar" method="POST">
                <div class="btn-container">
                    <button class="button-reserva">Reservar</button>
                    <input type="text" value="{{habs.id_habitacion}}" readonly="readonly" class="ids" name="id">
                    <input type="text" name="img1" value="{{habs.url_img1}}" class="ids" readonly="readonly">
                    <input type="text" name="img2" value="{{habs.url_img2}}" class="ids" readonly="readonly">
                </div>
            </form>
        </div>
    </div>
</div>

{{> footer}}