<link rel="stylesheet" type="text/css" href="/css/room.css">

{{> navigation}}

<div class="container">
    <div class="room-container">
        <div class="room-title">Habitación {{tipo.tipo_habitacion}}</div>
        <div class="room-img">
            <img src="{{h.url_img1}}" alt="">
            <img src="{{h.url_img2}}" alt="">
        </div>
        <div class="room-description">
            <div class="room-desc">
                <h2>Habitación {{tipo.tipo_habitacion}}</h2>
                <h3>Q{{h.precio_Normal}} por día!</h3>
            </div>
            <form action="/reservar/add" method="POST">
                <div class="btn-container">
                    <button class="button-reserva">Reservar</button>
                    <input type="text" value="{{h.id_Habitacion}}" readonly="readonly" class="id" name="id">
                    <input type="text" name="img1" value="{{h.url_img1}}" class="id" readonly="readonly">
                    <input type="text" name="img2" value="{{h.url_img2}}" class="id" readonly="readonly">
                </div>
            </form>
        </div>
    </div>
</div>

{{> footer}}